<!DOCTYPE html>
<html lang="en">
<head>
	<!-- These meta tags come first. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Menu</title>

	<!-- Include the CSS -->
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
	<h1 class="P1_title">Menu</h1>

	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-sm-4">
				<div class="P2_img_frame">
					<img src="/images/wines/applemartini.jpg">
				</div>
			</div>
			<div class="col-xs-6 col-sm-4">
				<div class="P2_img_frame">
					<img src="/images/wines/cosmopolitan.jpg">
				</div>
			</div>
			<div class="col-xs-6 col-sm-4">
				<div class="P2_img_frame">
					<img src="/images/wines/margarita.jpg">
				</div>
			</div>
			<div class="col-xs-6 col-sm-4">
				<div class="P2_img_frame">
					<img src="/images/wines/longislandicedtea.jpg">
				</div>
			</div>
			<div class="col-xs-6 col-sm-4">
				<div class="P2_img_frame">
					<img src="/images/wines/manhattan.jpg">
				</div>
			</div>
			<div class="col-xs-6 col-sm-4">
				<div class="P2_img_frame">
					<img src="/images/wines/mojito.jpg">
				</div>
			</div>
			<div class="col-xs-6 col-sm-4">
				<div class="P2_img_frame">
					<img src="/images/wines/pinacolada.jpg">
				</div>
			</div>
			<div class="col-xs-6 col-sm-4">
				<div class="P2_img_frame">
					<img src="/images/wines/sidecar.jpg">
				</div>
			</div>
			<div class="col-xs-6 col-sm-4">
				<div class="P2_img_frame">
					<img src="/images/wines/zombie.jpg">
				</div>
			</div>
		</div>
	</div>

	<!-- Include jQuery (required) and the JS -->
	<script src="/javascripts/jquery-2.2.1.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("body").css("height", window.innerHeight);
		});
	</script>
</body>
</html>