<!DOCTYPE html>
<html lang="en">
<head>
	<!-- These meta tags come first. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>take order</title>

	<!-- Include the CSS -->
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
	<h1 class="P1_title">take order</h1>

	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-3">
				<div class="P1_button_makeorder">
					<p>make order</p>
				</div>
			</div>
			<div class="col-xs-8 col-xs-offset-2 col-sm-3">
				<div class="P1_button_makeorder">
					<p>take order</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Include jQuery (required) and the JS -->
	<script src="/javascripts/jquery-2.2.1.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("body").css("height", window.innerHeight);
		});
	</script>
</body>
</html>