* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-size: 14px;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.rb-alignment-middle:before {
  content: "a";
  display: inline-block;
  height: 100%;
}
h1 {
  padding: 20px 0;
  text-align: center;
}
#rb_start {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  border-radius: 50%;
}
#rb_start p {
  font-size: 80px;
  padding: 10px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
#rb_productList tr th {
  text-align: center;
  border-bottom: 1px solid grey;
}
#rb_productList tr td {
  border-bottom: 1px solid grey;
  text-align: right;
}
#rb_productList tr td img {
  width: 200px;
}
#rb_amountSum {
  float: right;
}
.rb_submit {
  clear: both;
  float: right;
  margin-top: 30px;
}
.container {
  width: 300px;
  margin: 10px auto;
}
#rb_qrCode {
  margin: 10px auto;
}
#rb_qrCode canvas {
  margin: 30px auto;
  display: block;
}
.rb-alipayModal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
.rb-alipayModal > div {
  width: 300px;
  height: 300px;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  background: white;
  position: absolute;
}
.rb-alipayModal > div h2 {
  text-align: center;
}
